<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reformas FBH</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--Cabecera de la web-->
    <header>
        <div>
            <img id="logoempresa" src="../images/logoempresa.png" alt="logo empresa">
        </div>
        <div>
            <nav>
                <a href="../index.html">Inicio</a>
                <a href="galeria.html" class="active">Galería</a>
                <a href="presupuesto.html">Presupuesto</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>
    <!--Galería dinámica-->
    <section>
        <h1>Galería de Servicios</h1>

        <div class="galeria" id="galeria"></div>

        <!-- Lightbox -->
        <div id="lightbox">
            <img id="imgGrande" alt="">
        </div>
    </section>
    <!--Pié de página de la web-->
    <footer>
        &copy;<b>Reformas FBH</b> :: Todos los derechos reservados
        <h3>Dirección</h3>
        <p>C/ de Bravo Murillo 35, Madrid</p>
        <h3>Síguenos en RRSS</h3>
        <p>
            <a href="https://es-es.facebook.com/" target="_blank"><img src="../images/logofacebook.png" alt="logo facebook"></a>
            <a href="https://x.com/" target="_blank"><img src="../images/logotwitter.png" alt="logo twitter"></a>
            <a href="https://about.instagram.com/es-la/brand" target="_blank"><img src="../images/logoinstagram.png" alt="logo instagram"></a>
        </p>
    </footer>
    <script src="../js/galeria.js"></script>   
</body>
</html>